body {
    font-size: 16px;
    background: #eee;
}

.modal-container {
    z-index: 999;
    display: none;
    background: azure;
    position: absolute;
    opacity: 1;
    padding: 20px 10px 10px 10px;
    border: 1px solid #555;
    border-radius: 12px;
    left: 10%;
    top:10%
}

.pe-search-module {
    cursor: pointer;
}

#pe-search-icon {
    color: #555;
    padding-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#pe-search-container div {
    padding: 10px;
}

#pe-search-results {
    display: none;
    background: white;
    z-index: 1000;
    position: fixed;
    left: 10%;
    top: 10%;
    padding: 15px;
    border: 1px solid #555;
    border-radius:12px;
}

#pe-search-results-table {
    font-family: monospace;
    display: block;
    z-index: 1000;
    background: white;
}

.pe-search-linenum {
    cursor: pointer;
}

.pe-pager {
    cursor: pointer;
}

#pe-search-container {
    display: none;
    z-index: 999;
    display: none;
    background: azure;
    position: absolute;
    opacity: 1;
    padding: 20px 10px 10px 10px;
    border: 1px solid #555;
    border-radius: 12px;
    left: 10%;
    top:10%   
}

#pe-source-info-icon {
    padding-left: 10px;
    color: #555;
    cursor : pointer;
}

#pe-source-info i {
    padding-right: 10px;
    color: #036795;
}

#pe-source-info {
    font-family: monospace;
    display: none;
    background: white;
    position:absolute;
    left: 25%;
    top: 10%;
    padding: 0 15px;
    border: 1px solid #555;
    border-radius: 12px;
    z-index: 999;
    width: 50%;
}

#pe-source-info button {
    margin-bottom: 20px;
}

#pe-source-info h2 {
    text-align: center;
}


#pe-source-info p {
    margin-bottom: 25px;
}

#pe-todo-container {
    z-index: 999;
    display: none;
    background: azure;
    position: absolute;
    opacity: 1;
    padding: 20px 10px 10px 10px;
    border: 1px solid #555;
    border-radius: 12px;
    left: 10%;
    top:10%
}

#pe-todo-container textarea {
    display: block;
    margin: 15px;
    padding-bottom: 5px;
}

.linenum {
    cursor: pointer;
}

option {
    font-family: monospace;
    font-size: 16px;
}

#pe-lines {
    font-family: monospace;
    font-size: 16px;
}

#pe-todo-count {
    font-family: monospace;
    font-size: 16px;
}

select {
    margin-right: 20px;
}

label[for=pe-todo-count] {
    background: orangered;
    color: white;
    font-weight: bold;
}

label {
    border-radius: 4px;
    border: 1px solid #555;
    background: antiquewhite;
    color: black;
    padding: 3px;
    font-family: monospace;
    font-weight: normal;
    margin-right: 10px;
    margin-left: 10px;

}

.module:hover {
    color: #036795;
    font-weight: 600;
    font-size: 130%;
}

.module {
    cursor: pointer;
}

#pe-subs-container {
    overflow: hidden;   
}

#pe-source {
    overflow: scroll;
    height: 95vh;
    position: fixed;
}

.pe-linenum-selected {
    background: yellow;
}

.pe-critic {
    background: yellow;
}

.keyword {
    color: #036795;
    font-weight: bold; 
}

.type, .classname {
    color: darkgreen; 
}

.string {
    color: red; font-family: monospace; 
}

.regexp {
    color: orange; 
}

.specialchar {
    color: pink; font-family: monospace; 
}

.comment {
    color: #555;
    font-style: italic; 
}

.number {
    color: purple; 
}

.preproc {
    color: darkblue; font-weight: bold; 
}

.symbol {
    color: darkred; 
}

.function {
    color: black; font-weight: bold; 
}

.cbracket {
    color: red; 
}

.todo {
    font-weight: bold; background-color: cyan; 
}


/* line numbers */
.linenum {
    color: black; 
    font-family: monospace; 
}


/* Internet related */
.url {
    color: blue;
    text-decoration: underline;
    font-family: monospace; 
}


/* other elements for ChangeLog and Log files */
.date {
    color: blue; font-weight: bold; 
}

.time, .file {
    color: darkblue; font-weight: bold; 
}

.ip, .name {
    color: darkgreen; 
}


/* for Prolog, Perl */
.variable {
    color: darkgreen; 
}

.italics {
    color: darkgreen; font-style: italic; 
}

.bold {
    color: darkgreen; font-weight: bold; 
}


/* for LaTeX */
.underline {
    color: darkgreen; text-decoration: underline; 
}

.fixed {
    color: green; font-family: monospace; 
}

.argument, .optionalargument {
    color: darkgreen; 
}

.math {
    color: orange; 
}

.bibtex {
    color: blue; 
}


/* for diffs */
.oldfile {
    color: orange; 
}

.newfile {
    color: darkgreen; 
}

.difflines {
    color: blue; 
}


/* for css */
.selector {
    color: purple; 
}

.property {
    color: blue; 
}

.value {
    color: darkgreen; font-style: italic; 
}
