.source-snippet {
}

.pe-critic-linenumber {
    cursor: pointer;
}

.pe-critic-policy {
    cursor: pointer;
}

input.pe-button-enabled {
    color: white;
    font-weight: normal;
    background: #555;
}

#pe-save-button {
    float: right;
    border: 1px solid #444;
    border-radius: 5px;
    color: white;
    background: #036795;
    font-size: 18px;
    font-family: monospace;
    padding:  5px 10px 5px 10px;
    margin: 0px 5px 5px 5px;
    background: #036795;
}

input.pe-button-disabled {
    background: #fff !important;;
    color: #aaa !important;
}

input.pe-button-enabled:hover {
    background: #036795;
    color: white;
    font-weight: bold;
}

i.pe-todo-icon {
    color: #555;
    margin-right: 3px;
}

td.pe-critic-todo {
    color: red;
}

.source-full {
    display: none;
}

.description-snippet {
    
}

.tooltip-text {
    display: none;
}

#diagnostic h1 {
    padding: 0px 20px 20px 20px;
    margin: 5px 0px 5px 0px; 
    color: #036795;
    font-size: 150%;
}

.pe-diagnostic-message-container {
    padding: 20px;
    margin: 0px 40px 20px 40px;
    text-align: left;
    color: #000;
    max-height: 600px;
    overflow: scroll;
    background: lightcyan;
    border-radius: 12px;
    
} 

#diagnostic {
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: center;
    left: 20%;
    top: 5%;
    background: white;
    border-radius: 12px;
    border: solid;
    border-width: 2px 5px 5px 2px;
    border-color: #999;
    padding: 8px;
    font-size: 125%;
    font-family: sans-serif;
    color: #555;
    z-index: 999;
    overflow: hidden;
}

.description-full {
    display: none;
}

td.severity {
    text-align: center !important;
}

.sev-1 {
    background: #008000;
    color: white;
    font-weight: 600;
}

.sev-2 {
    background: #888000;
    color: white;
    font-weight: 600;
}

.sev-3 {
    background: yellow;
    font-weight: 600;
}


.sev-4 {
    background: orange;
    font-weight: 600;
}

.sev-5 {
    background: red;
    color: white;
    font-weight: 600;
}

body {
    font-family: monospace;
    font-size: 13px;
}

pre.pe-critic-context {
    padding: 2px;
    margin: 0px;
}

pre.pe-critic-context-line {
    background:  #fafda3;
}

#critic_wrapper {
    position: relative;
}

#tooltip-container {
    display: none;
    width: fit-content;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 99999;
    opacity: 1;
    background: #caeef4;
}
