<div id="pe-status-message" class="pe-error-message">
  <div class="pe-status-message-container">
    <i class="pe-status-message-icon"></i><span></span>
  </div>    

  <button class="pe-button">OK</button>
</div>
