<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  [% title = module %]

  [% INCLUDE "perl-explorer-header.html.tt" %]
  
  <body>
    
    <div id="pe-header-container">
      <i class="pe-pager fas fa-caret-down"></i>
      
      <label for="pe-subs">Subroutines</label>
      <select id="pe-subs">
        <option value="">-- Select --</option>
        [% FOR s IN subs %]
        <option value="[% s.0 %]">[% s.1 %]</option>
        [% END -%]
      </select>

      
      <label for="pe-dependencies">Dependencies</label>
      <select id="pe-dependencies">
        <option value="">-- Select --</option>
        [% FOR d IN dependencies.modules %]
        <option value="[% dependencies.is_local.$d %]">[% d %]</option>
        [% END -%]
      </select>

      <label for="pe-reverse-dependencies">Used In</label>
      <select id="pe-reverse-dependencies">
        <option value="">-- Select --</option>
        [% FOR m IN dependencies.reverse_dependencies.keys() %]
        <option value="[% m %]">[% m %]</option>
        [% END -%]
      </select>

      <label for="pe-lines">Lines</label>
      <span id="pe-lines">[% lines %]</span>

      <label for="pe-todo-count">TO DOs</label>
      <span id="pe-todo-count">[% todos %]</span>

      <i id="pe-search-icon" class="fa fa-search-plus fa-lg"></i>
      <i id="pe-source-info-icon" class="fa fa-info-circle fa-lg"></i>
    </div>
    
    <hr class="pe-divider" />  

    [% INCLUDE "perl-explorer-status-message.html.tt" %]
    
    <div id="pe-source">
      [% source %]
    </div>
    
    <div id="pe-todo-container">
      <label for="pe-todo-text">TODO</label>
      
      <textarea id="pe-todo-text" rows="5" cols="60"></textarea>
      
      <input type="hidden" id="todo-linenum" value="" />
      
      <button id="pe-todo-save" class="pe-button">Save</button>
      <button id="pe-todo-cancel" class="pe-button">Cancel</button>
    </div>
    
    <div id="pe-search-container">

      <div>
        <input type="checkbox" value="1" name="repo-search" id="pe-repo-search" />
        <label for="pe-repo-search">Search Repo</label>
      </div>
      
      <div>
        <input type="checkbox" value="1" name="regexp" id="pe-regexp" />
        <label for="pe-regexp">Regexp</label>
      </div>

      <div>
        <label for="pe-search-text">Term or Regexp</label>
        <input type="text" value="" name="search-text" id="pe-search-text" />
      </div>
      
      <button id="pe-search-search" class="pe-button">Search</button>
      <button id="pe-search-cancel" class="pe-button">Cancel</button>
    </div>

    <div id="pe-search-results" >
      <button id="pe-search-results-cancel" class="pe-button">Cancel</button>
      
      <table id="pe-search-results-table" class="display">
        <thead>
          <th>Module</th>
          <th>Line</th>
          <th>Content</th>
        </thead>
        
        <tbody>
        </tbody>
      </table>
    </div>

    <div id="pe-source-info">
      <h2>Hints & Tips</h2>
      <p>
        <i class="fa fa-info fa-lg"></i>
        Click on line numbers to add a TODO comment to the source.
      </p>  

      <p>
        <i class="fa fa-info fa-lg"></i>
        Select a subroutine to move to that spot in the code. Select
        '-- Select --' to return to top.
      </p>

      <p>
        <i class="fa fa-info fa-lg"></i>
        Select a dependency to display that module. Selecting an external
        dependencies will display their POD.
      </p>
      
      <p>
        <i class="fa fa-info fa-lg"></i>
      "Used In" shows modules that use this module. Selecting one will
      open that module.
      </p>
      
      <p>
        <i class="fa fa-info fa-lg"></i>
        Click the search icon <i class="fa fa-search-plus"></i> to
        search this file or the entire repo. Use a regular expression
        like "/(foo|bar)/i" to using a regexp. The result lists for
        repo search will allow you to navigate to the file by clicking
        on the module name or line number.
      </p>

      <button class="pe-button">OK</button>

    </div>
    
    <div class="spinner"></div>
    
    <div class="overlay"></div>
    
    <script>var linenum = [% linenum %];</script>
    
  </body>
  
</html>

