<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  [% INCLUDE "perl-explorer-header.html.tt" %]
  
  <body>
    <div id="hb">
      <label for="cb" style="">&#9776;</label>
      <input type="checkbox" id="cb"  />
    </div>
    
    <div id="hb-menu">
      <ul id="side-menu" >
        <li>Configure</li>
        <li>Help</li>
      </ul>
    </div>
        
    <div id="perl-explorer">

      <div id="header">
        <img src="[% logo %]" />
      </div>

      [% INCLUDE "perl-explorer-status-message.html.tt" %]
      
      [% INCLUDE "perl-explorer-critic-summary.html.tt" %]
      
      <div id="tree" >
        [% module_listing %]
      </div>
      
    </div>
    
    <div id="context">
      <ol class="menu">
        <li class="menu-li">Source</li>
        <li class="menu-li">Pod</li>
        <li class="menu-li">Critic (Summary)</li>
        <li class="menu-li">Critic (Detail)</li>
      </ol>
    </div>
    
    <div class="spinner"></div>
    
  </body>
</html>
