<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  [% title = module %]

  [% INCLUDE "perl-explorer-header.html.tt" %]

  <body>

    [% INCLUDE "perl-explorer-status-message.html.tt" %]
    
    <input type="hidden" value="[% repo %]" id="pe-repo" />    

    <button class="pe-button" id="pe-save-button">Save</button>

    <div id="diagnostic" class="pe-theme-color">
      <h1></h1>
      <div class="pe-diagnostic-message-container">
        <span>this is a more realistic message</span>
      </div>    
      
      <button class="pe-button">OK</button>
    </div>

    <table id="critic" class="display">
      <thead>
        <tr>
          <th>Line</th>
          <th>Col</th>
          <th>Severity</th>
          <th>Policy</th>
          <th>Source</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
      [% FOREACH v IN violations %]
        <tr>
          <td class="pe-critic-linenumber [% x=v.line_number; todos.$x %]"><i class="pe-todo-icon"></i>[% v.line_number %]</td>
          <td>[% v.column_number %]</td>
          <td class="severity">[% v.severity %]</td>
          <td class="pe-critic-policy">[% v.policy_short %]</td>
          <td class="pe-critic-source[% IF v.source %] tooltip[% END %]">[% v.source_snippet %][% IF v.source %]<span class="tooltip-text">[% v.source %][% END %]</span></td>
          <td class="pe-critic-description[% IF v.description %] tooltip[% END %]">[% v.description_snippet %][% IF v.description %]<span class="tooltip-text">[% v.description %]</span>[% END %]</td>
        </tr>
      [% END -%]
      </tbody>
    </table>

    <div id="tooltip-container"></div>

    <div class="overlay"></div>
    
    <script>
      var diagnostics = [% diagnostics_json %];
    </script>
    
  </body>
</html>
