PerlSwitches -I [% perl5libdir %]

<Location '/explorer'>
  PerlSetEnv CONFIG  [% defaults.sitedir %]/perl-explorer.json
  PerlSetEnv TT_INCLUDE_PATH [% defaults.datadir %]

  SetHandler perl-script
  PerlResponseHandler Apache::Devel::Explorer
</Location>  
